* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
}

#iconoUsuario {
    margin-top: -1900px;
}

#contenedorFormProduct {
    width: 95%;
    height: 110%;
    margin-left: 7%;
    margin-top: -1700px;
    position: absolute;
    z-index: 0;
    overflow: scroll;
}

#contenedorFormProduct form {
    width: 40%;
    margin-left: 25%;
    margin-top: 50px;
    border: 1px solid var(--color-verdeOscuro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
}


#contenedorFormProduct label {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    color: var(--color-verdeOscuro);
}

#contenedorFormProduct input {
    display: inline-block;
    width: 250px;   
    height: 30px;
}

#contenedorFormProduct select {
    width: 150px;
    height: 50px;
}

.botonAddProduct {
    width: 150px;
    height: 35px;
    background: var(--color-verdeOscuro);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 25px;
}

.botonAddProduct:hover {
    background: var(--color-marron);
}

.botonAddImg {
    width: 150px;
    height: 35px;
    background: var(--color-verdeOscuro);
}

@media only screen and (max-width: 1300px) and (min-width: 1034px) {  

    #iconoUsuario {
        margin-top: -1300px;
    }

    #contenedorFormProduct {
        width: 95%;
        height: 110%;
        margin-left: 7%;
        margin-top: -1200px;
        position: absolute;
        z-index: 0;
        overflow: scroll;
    }
    
    #contenedorFormProduct form {
        width: 40%;
        margin-left: 25%;
        margin-top: 50px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    
    #contenedorFormProduct label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 100px;
        margin-top: 25px;
    }
    
    .botonAddProduct:hover {
        background: var(--color-marron);
    }
    
    .botonAddImg {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
    }  
}

@media only screen and (max-width: 1033px) and (min-width: 981px) {  
    #iconoUsuario {
        margin-top: 20px;
    }
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 300px;
        width: 500px;
        height: 500px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 60%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }
}

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    #iconoUsuario {
        margin-top: 20px;
    }
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 250px;
        width: 500px;
        height: 500px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 60%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }
}

@media only screen and (max-width: 820px) and (min-width: 621px) {  
    #iconoUsuario {
        margin-top: 20px;
    }
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 200px;
        width: 500px;
        height: 500px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 60%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }
}

@media only screen and (max-width: 620px) and (min-width: 501px) {  }

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    #iconoUsuario {
        margin-top: 20px;
    }
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 60px;
        width: 250px;
        height: 600px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 65%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 5px;
        margin-top: 30px!important;
    }
      
}

@media only screen and (max-width: 700px) and (min-width: 601px) and (orientation : landscape) { 
    #iconoUsuario {
        margin-top: 20px;
    }
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 100px;
        width: 500px;
        height: 500px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 60%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }
}
/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {
    #iconoUsuario {
        margin-top: 20px;
    }
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 30px;
        width: 250px;
        height: 600px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 65%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 5px;
        margin-top: 30px!important;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) {  

    #iconoUsuario {
        margin-top: 20px;
    }

    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormProduct {
        margin-top: 50px;
        margin-left: 50px;
        width: 500px;
        height: 500px;
    }

    #contenedorFormProduct form {
        width: 80%;
        height: 60%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormProduct label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormProduct input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormProduct select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddProduct {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }
}