* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
}

#contenedorFormUser {
    width: 95%;
    height: 110%;
    margin-left: 7%;
    margin-top: -1200px;
    position: absolute;
    z-index: 0;
    overflow: scroll;
}

#contenedorFormUser form {
    width: 40%;
    margin-left: 25%;
    margin-top: 10px;
    border: 1px solid var(--color-verdeOscuro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
}


#contenedorFormUser label {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    color: var(--color-verdeOscuro);
}

#contenedorFormUser input {
    display: inline-block;
    width: 250px;   
    height: 30px;
}

#contenedorFormUser select {
    width: 150px;
    height: 50px;
}

.botonAddUser {
    width: 150px;
    height: 35px;
    background: var(--color-verdeOscuro);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 25px;
}

.botonAddUser:hover {
    background: var(--color-marron);
}

/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormUser {
        margin-top: 100px;
        margin-left: 30px;
        width: 250px;
        height: 700px;
    }

    #contenedorFormUser form {
        width: 80%;
        height: 80%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormUser label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormUser input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormUser select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddUser {
        width: 50px;
        margin-left: 5px;
        margin-top: 30px!important;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) {  
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorFormUser {
        margin-top: 100px;
        margin-left: 50px;
        width: 500px;
        height: 500px;
    }

    #contenedorFormUser form {
        width: 80%;
        height: 80%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorFormUser label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorFormUser input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorFormUser select {
        width: 150px;
        height: 50px;
    }
    
    .botonAddUser {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }
}