* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
}

#contenedorElementos {
    width: 95%;
    height: 110%;
    margin-left: 7%;
    margin-top: -2000px;
    position: absolute;
    z-index: 0;
    overflow: scroll;
}

#iconoUsuario {
    margin-top: -1900px;
}

#elemento1 {
    width: 300px;
    height: 300px;
    background-color: var(--color-verdeOscuro);
    border-radius: 10px;
    float: left;
    margin-left: 100px;
    margin-top: 200px;
    text-align: center;
}

#elemento2 {
    width: 300px;
    height: 300px;
    background-color: var(--color-verdeOscuro);
    border-radius: 10px;
    float: left;
    margin-left: 50px;
    margin-top: 200px;
    text-align: center;
}

#elemento3 {
    width: 300px;
    height: 300px;
    background-color: var(--color-verdeOscuro);
    border-radius: 10px;
    float: left;
    margin-left: 50px;
    margin-top: 200px;
    text-align: center;
}

.posImg {
    width: 90%;
    height: auto;
}

.enlaceEl {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#spanEl1 {
    position: absolute;
    margin-left: -190px;
    margin-top: 250px;
}

#spanEl2 {
    position: absolute;
    margin-left: -190px;
    margin-top: 250px;
}

#spanEl3 {
    position: absolute;
    margin-left: -190px;
    margin-top: 250px;
}

@media only screen and (max-width: 1300px) and (min-width: 1034px) { 
    #contenedorElementos {
        width: 95%;
        height: 110%;
        margin-left: 7%;
        margin-top: -1300px;
        position: absolute;
        z-index: 0;
        overflow: scroll;
    }
    
    #iconoUsuario {
        margin-top: -1300px;
    }

    #elemento1 {
        width: 300px;
        height: 300px;
        background-color: var(--color-verdeOscuro);
        border-radius: 10px;
        float: left;
        margin-left: 100px;
        margin-top: 200px;
        text-align: center;
    }
    
    #elemento2 {
        width: 300px;
        height: 300px;
        background-color: var(--color-verdeOscuro);
        border-radius: 10px;
        float: left;
        margin-left: 50px;
        margin-top: 200px;
        text-align: center;
    }
    
    #elemento3 {
        width: 300px;
        height: 300px;
        background-color: var(--color-verdeOscuro);
        border-radius: 10px;
        float: left;
        margin-left: 50px;
        margin-top: 200px;
        text-align: center;
    }
    
    .posImg {
        width: 90%;
        height: auto;
    }
    
    .enlaceEl {
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }
    
    #spanEl1 {
        position: absolute;
        margin-left: -190px;
        margin-top: 250px;
    }
    
    #spanEl2 {
        position: absolute;
        margin-left: -190px;
        margin-top: 250px;
    }
    
    #spanEl3 {
        position: absolute;
        margin-left: -190px;
        margin-top: 250px;
    }
}

@media only screen and (max-width: 1033px) and (min-width: 981px) {  
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
        margin-left: 650px!important;
    }

    #contenedorElementos {
        width: 200px;
        height: 130%;
        margin-left: 300px;
        margin-top: 70px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
        margin-left: 650px!important;
    }

    #contenedorElementos {
        width: 200px;
        height: 130%;
        margin-left: 300px;
        margin-top: 70px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 820px) and (min-width: 621px) {  
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
        margin-left: 650px!important;
    }

    #contenedorElementos {
        width: 200px;
        height: 130%;
        margin-left: 300px;
        margin-top: 70px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 620px) and (min-width: 501px) {  }

@media only screen and (max-width: 500px) and (min-width: 341px) { 
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
        margin-left: 230px!important;
    }

    #contenedorElementos {
        width: 95%;
        height: 130%;
        margin-left: 5%;
        margin-top: 50px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-left: 75px;
        margin-top: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-left: 75px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-left: 75px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 601px) and (orientation : landscape) { 
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
        margin-left: 500px!important;
    }

    #contenedorElementos {
        width: 200px;
        height: 130%;
        margin-left: 200px;
        margin-top: 70px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  { 
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
    }

    #contenedorElementos {
        width: 95%;
        height: 130%;
        margin-left: 3%;
        margin-top: 50px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-left: 75px;
        margin-top: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-left: 75px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-left: 75px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) {  
    #cuerpoAdminApp {
        overflow: scroll;
    }

    #iconoUsuario {
        margin-top: 20px;
        margin-left: 320px!important;
    }

    #contenedorElementos {
        width: 200px;
        height: 130%;
        margin-left: 130px;
        margin-top: 50px;
    }

    #elemento1 {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    #elemento2 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    
    #elemento3 {
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }

    .enlaceEl {
        font-size: medium;
    }

    #spanEl1 {
        margin-left: -115px;
        margin-top: 120px;
    }
    
    #spanEl2 {
        margin-left: -125px;
        margin-top: 120px;
    }
    
    #spanEl3 {
        margin-left: -120px;
        margin-top: 120px;
    }
}

