* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
}

#cuerpoUpdatePass {
    position: absolute;
    margin-top: 200px;
    margin-left: 2%;
    width: 95%;
    height: 100%;
}

#cuerpoUpdatePass form {
    width: 70%;
    margin-left: 10%;
    margin-top: 30px;
    border: 1px solid var(--color-verdeOscuro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
}

#cuerpoUpdatePass label {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    color: var(--color-verdeOscuro);
}

#cuerpoUpdatePass input {
    display: inline-block;
    width: 250px;   
    height: 30px;
}

.botonUpdateUser {
    width: 150px;
    height: 35px;
    background: var(--color-verdeOscuro);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin-left: 250px;
    margin-top: 25px;
}

.botonUpdateUser:hover {
    background: var(--color-marron);
}

@media only screen and (max-width: 1600px) and (min-width: 1501px) {  
    #cuerpoUpdatePass {
        position: absolute;
        margin-top: 200px;
        margin-left: 2%;
        width: 95%;
        height: 100%;
    }
    
    #cuerpoUpdatePass form {
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    #cuerpoUpdatePass label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    .botonUpdateUser {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 250px;
        margin-top: 25px;
    }
    
    .botonUpdateUser:hover {
        background: var(--color-marron);
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1401px) {  
    #cuerpoUpdatePass {
        position: absolute;
        margin-top: 200px;
        margin-left: 2%;
        width: 95%;
        height: 100%;
    }
    
    #cuerpoUpdatePass form {
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    #cuerpoUpdatePass label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    .botonUpdateUser {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 250px;
        margin-top: 25px;
    }
    
    .botonUpdateUser:hover {
        background: var(--color-marron);
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {  
    #cuerpoUpdatePass {
        position: absolute;
        margin-top: 200px;
        margin-left: 2%;
        width: 95%;
        height: 100%;
    }
    
    #cuerpoUpdatePass form {
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    #cuerpoUpdatePass label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    .botonUpdateUser {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 250px;
        margin-top: 25px;
    }
    
    .botonUpdateUser:hover {
        background: var(--color-marron);
    }
}



@media only screen and (max-width: 1300px) and (min-width: 1034px) {  
    #cuerpoUpdatePass {
        position: absolute;
        margin-top: 200px;
        margin-left: 2%;
        width: 95%;
        height: 100%;
    }
    
    #cuerpoUpdatePass form {
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    #cuerpoUpdatePass label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    .botonUpdateUser {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 250px;
        margin-top: 25px;
    }
    
    .botonUpdateUser:hover {
        background: var(--color-marron);
    }
}

@media only screen and (max-width: 1033px) and (min-width: 981px) {  
    #cuerpoUpdatePass {
        position: absolute;
        margin-top: 200px;
        margin-left: 2%;
        width: 95%;
        height: 100%;
    }
    
    #cuerpoUpdatePass form {
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    #cuerpoUpdatePass label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    .botonUpdateUser {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 250px;
        margin-top: 25px;
    }
    
    .botonUpdateUser:hover {
        background: var(--color-marron);
    }
}

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    #cuerpoUpdatePass {
        position: absolute;
        margin-top: 200px;
        margin-left: 2%;
        width: 95%;
        height: 100%;
    }
    
    #cuerpoUpdatePass form {
        width: 70%;
        margin-left: 10%;
        margin-top: 30px;
        border: 1px solid var(--color-verdeOscuro);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }
    
    #cuerpoUpdatePass label {
        display: inline-block;
        width: 150px;
        height: 50px;
        font-weight: bolder;
        color: var(--color-verdeOscuro);
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 250px;   
        height: 30px;
    }
    
    .botonUpdateUser {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 250px;
        margin-top: 25px;
    }
    
    .botonUpdateUser:hover {
        background: var(--color-marron);
    }
}

@media only screen and (max-width: 820px) and (min-width: 621px) {  
    #iconoUser {
        margin-top: 20px;
    }
    

    #cuerpoUpdatePass {
        margin-top: -100px;
        margin-left: 120px;
        width: 600px;
        height: 1000px;
    }

    #cuerpoUpdatePass form {
        width: 80%;
        height: 70%;
        margin-left: 2%;
        padding: 20px;
    }

    #cuerpoUpdatePass label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #cuerpoUpdatePass select {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 120px;
        margin-top: 30px!important;
    }

    .selectIdioma {
        width: 150px;
        margin-bottom: -20px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 620px) and (min-width: 501px) {  

    #iconoUser{
        margin-top: 20px;
    }
    

    #cuerpoUpdatePass {
        margin-top: 100px;
        margin-left: 50px;
        width: 600px;
        height: 700px;
    }

    #cuerpoUpdatePass form {
        width: 80%;
        height: 70%;
        margin-left: 2%;
        padding: 20px;
    }

    #cuerpoUpdatePass label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #cuerpoUpdatePass select {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 120px;
        margin-top: 30px!important;
    }

    .selectIdioma {
        width: 150px;
        margin-bottom: -20px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    #iconoUser {
        margin-top: -20px;
    }
    

    #cuerpoUpdatePass {
        margin-top: 80px;
        margin-left: 15px;
        width: 300px;
        height: 950px;
    }

    #cuerpoUpdatePass form {
        width: 80%;
        height: 75%;
        margin-left: 1%;
        padding: 20px;
    }

    #cuerpoUpdatePass label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #cuerpoUpdatePass select {
        width: 150px;
        height: 50px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 2px;
        margin-top: 30px!important;
    }

    .selectIdioma {
        margin-left: 0!important;
    }
}

@media only screen and (max-width: 700px) and (min-width: 601px) and (orientation : landscape) { 

    #iconoUser {
        margin-top: 20px;
    }
    

    #cuerpoUpdatePass {
        margin-top: -100px;
        margin-left: 50px;
        width: 600px;
        height: 700px;
    }

    #cuerpoUpdatePass form {
        width: 80%;
        height: 70%;
        margin-left: 2%;
        padding: 20px;
    }

    #cuerpoUpdatePass label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #cuerpoUpdatePass select {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 120px;
        margin-top: 30px!important;
    }

    .selectIdioma {
        width: 150px;
        margin-bottom: -20px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 340px) and (min-width: 5px)  { 

    #iconoUser {
        margin-top: -15px;
    }
    

    #cuerpoUpdatePass {
        margin-top: 200px;
        margin-left: 30px;
        width: 250px;
        height: auto;
    }

    #cuerpoUpdatePass form {
        width: 80%;
        height: 50%;
        margin-left: 2%;
        padding: 20px;
    }

    #cuerpoUpdatePass label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #cuerpoUpdatePass select {
        width: 150px;
        height: 50px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 2px;
        margin-top: 30px!important;
    }

    .selectIdioma {
        margin-left: 0!important;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) { 

    #iconoUser {
        margin-top: 20px;
    }
    
    #cuerpoUpdatePass {
        margin-top: -100px;
        margin-left: 50px;
        width: 500px;
        height: auto;
    }

    #cuerpoUpdatePass form {
        width: 80%;
        height: 50%;
        margin-left: 2%;
        padding: 20px;
    }

    #cuerpoUpdatePass label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #cuerpoUpdatePass input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #cuerpoUpdatePass select {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }

    .selectIdioma {
        width: 150px;
        margin-bottom: -20px;
        margin-left: 0;
    }
}