* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
} 

#cuerpoIndex {
    height: auto!important;
}

#el3 {
    background-color: #7F6E4A!important;
    color: white;
}

#cuerpoPagPedidos {
    width: 90%;
    height: 400px;
    margin-top: 250px;
    margin-left: 5%;
    position: absolute;
    border: 1px solid var(--color-verdeOscuro);
    border-radius: 10px;
    box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
}

#contenedorPie {
    margin-top: 800px;
}

#cuerpoPagPedidos p {
    padding: 2%;
}

#bIr {
    width: 150px;
    height: 35px;
    background: var(--color-verdeOscuro);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin-left: 600px;
    margin-top: 25px;
    text-align: center;
    padding-left:  20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bolder;
}

#bIr:hover {
    background: var(--color-marron);
}


@media only screen and (max-width: 1600px) and (min-width: 1501px) {  
    #cuerpoIndex {
        height: auto!important;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1401px) {  
    #cuerpoIndex {
        height: auto!important;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {  
    #bIr {
        margin-left: 500px;
    }
}



@media only screen and (max-width: 1300px) and (min-width: 1034px) { 
    
    #cuerpoIndex {
        height: auto!important;
    }

    #el3 {
        background-color: #7F6E4A!important;
        color: white;
    }

    #cuerpoPagPedidos {
        width: 90%;
        height: 400px;
        margin-top: 250px;
        margin-left: 5%;
        position: absolute;
        border: 1px solid var(--color-verdeOscuro);
        border-radius: 10px;
        box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.2);
    }

    #contenedorPie {
        margin-top: 800px;
    }

    #cuerpoPagPedidos p {
        padding: 2%;
    }

    #bIr {
        width: 150px;
        height: 35px;
        background: var(--color-verdeOscuro);
        border-radius: 5px;
        color: white;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        margin-left: 450px;
        margin-top: 25px;
        text-align: center;
        padding-left:  20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        font-weight: bolder;
    }

    #bIr:hover {
        background: var(--color-marron);
    }
}

@media only screen and (max-width: 1033px) and (min-width: 981px) {  
    #bIr {
        margin-left: 350px;
    }
}

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    #bIr {
        margin-left: 350px;
    }
}

@media only screen and (max-width: 820px) and (min-width: 621px) {  
    #cuerpoPagPedidos {
        margin-top: 50px;
    }

    #bIr {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 620px) and (min-width: 501px) {  
    #cuerpoPagPedidos {
        margin-top: 50px;
    }

    #bIr {
        margin-left: 300px;
    }
}

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    #cuerpoPagPedidos {
        height: 500px;
    }

    #bIr {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 601px) and (orientation : landscape) { 
    #cuerpoPagPedidos {
        margin-top: 50px;
    }

    #bIr {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 340px) and (min-width: 5px)  { 
    #cuerpoPagPedidos {
        height: 600px;
        margin-top: 200px;
        margin-bottom: 5%;
        overflow: scroll;
    }

    #bIr {
        margin-left: 80px;
    }

    #contenedorPie {
        margin-top: 900px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) { 
    #cuerpoPagPedidos {
        margin-top: 50px;
    }

    #bIr {
        margin-left: 250px;
    }
}