* {
    margin: 0;
    padding: 0;
    --color-marron: #7F6E4A;
    --color-amarillo: #E6EFD0;
    --color-verdeOscuro: #567661;
    font-family: 'Roboto', sans-serif;
}

.bUProduct {
    background-color: var(--color-verdeOscuro);
    width: 120px;
    height: 30px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    color: white;
    font-weight: bolder!important;
    border-radius: 5px;
    margin-left: 800px;
    margin-top: 30px;
}

.bUProduct:hover {
    background-color: var(--color-marron);
}

#subtotal {
    height: 90px;
    vertical-align: middle;
    font-weight: bolder;
    font-size: large;
}

#celdaSub {
    height: 90px;
    vertical-align: middle;
    font-weight: bolder;
    font-size: large;
}

#cProducto {
    width: 150px;
}

#cDescripcion {
    width: 350px;
}

#cPrecio {
    width: 150px;
}

#cStock {
    width: 150px;
}

@media only screen and (max-width: 1600px) and (min-width: 1501px) {  
    .bUProduct {
        background-color: var(--color-verdeOscuro);
        width: 120px;
        height: 30px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        color: white;
        font-weight: bolder!important;
        border-radius: 5px;
        margin-left: 700px;
        margin-top: 30px;
    }
    
    .bUProduct:hover {
        background-color: var(--color-marron);
    }
    
    #subtotal {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #celdaSub {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #cProducto {
        width: 150px;
    }
    
    #cDescripcion {
        width: 350px;
    }
    
    #cPrecio {
        width: 150px;
    }
    
    #cStock {
        width: 150px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1401px) {  
    #contenedorCabecera-Menu {
        margin-left: 250px;
    }

    .bUProduct {
        background-color: var(--color-verdeOscuro);
        width: 120px;
        height: 30px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        color: white;
        font-weight: bolder!important;
        border-radius: 5px;
        margin-left: 600px;
        margin-top: 30px;
    }
    
    .bUProduct:hover {
        background-color: var(--color-marron);
    }
    
    #subtotal {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #celdaSub {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #cProducto {
        width: 150px;
    }
    
    #cDescripcion {
        width: 350px;
    }
    
    #cPrecio {
        width: 150px;
    }
    
    #cStock {
        width: 150px;
    }
    
}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {  
    .bUProduct {
        background-color: var(--color-verdeOscuro);
        width: 120px;
        height: 30px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        color: white;
        font-weight: bolder!important;
        border-radius: 5px;
        margin-left: 600px;
        margin-top: 30px;
    }
    
    .bUProduct:hover {
        background-color: var(--color-marron);
    }
    
    #subtotal {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #celdaSub {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #cProducto {
        width: 150px;
    }
    
    #cDescripcion {
        width: 350px;
    }
    
    #cPrecio {
        width: 150px;
    }
    
    #cStock {
        width: 150px;
    }
    
}

@media only screen and (max-width: 1300px) and (min-width: 1034px) {  
    .bUProduct {
        background-color: var(--color-verdeOscuro);
        width: 120px;
        height: 30px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        color: white;
        font-weight: bolder!important;
        border-radius: 5px;
        margin-left: 500px;
        margin-top: 30px;
    }
    
    .bUProduct:hover {
        background-color: var(--color-marron);
    }
    
    #subtotal {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #celdaSub {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #cProducto {
        width: 150px;
    }
    
    #cDescripcion {
        width: 350px;
    }
    
    #cPrecio {
        width: 150px;
    }
    
    #cStock {
        width: 150px;
    }
    
}

@media only screen and (max-width: 1033px) and (min-width: 981px) {  
    .bUProduct {
        background-color: var(--color-verdeOscuro);
        width: 120px;
        height: 30px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        color: white;
        font-weight: bolder!important;
        border-radius: 5px;
        margin-left: 500px;
        margin-top: 30px;
    }
    
    .bUProduct:hover {
        background-color: var(--color-marron);
    }
    
    #subtotal {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #celdaSub {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #cProducto {
        width: 150px;
    }
    
    #cDescripcion {
        width: 350px;
    }
    
    #cPrecio {
        width: 150px;
    }
    
    #cStock {
        width: 150px;
    }
    
}

@media only screen and (max-width: 980px) and (min-width: 821px) {  
    .bUProduct {
        background-color: var(--color-verdeOscuro);
        width: 120px;
        height: 30px;
        cursor: pointer;
        box-shadow: none;
        border: none;
        color: white;
        font-weight: bolder!important;
        border-radius: 5px;
        margin-left: 400px;
        margin-top: 30px;
    }
    
    .bUProduct:hover {
        background-color: var(--color-marron);
    }
    
    #subtotal {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #celdaSub {
        height: 90px;
        vertical-align: middle;
        font-weight: bolder;
        font-size: large;
    }
    
    #cProducto {
        width: 150px;
    }
    
    #cDescripcion {
        width: 350px;
    }
    
    #cPrecio {
        width: 150px;
    }
    
    #cStock {
        width: 150px;
    }
    
}

@media only screen and (max-width: 820px) and (min-width: 621px) {  
    #tabla {
        width: 800px!important;
    }

    #celdaSub {
        height: 20px;
    }

    #subtotal {
        height: 20px;
    }

    .bUProduct {
        margin-top: 20px;
        margin-left: 400px;
    }

    #cesta {
        width: 12%;
        height: auto;
    }
}

@media only screen and (max-width: 620px) and (min-width: 501px) {  }

@media only screen and (max-width: 500px) and (min-width: 341px) {  
    #tabla {
        width: 700px!important;
    }

    #celdaSub {
        height: 20px!important;
    }

    #subtotal {
        height: 20px;
    }

    .bUProduct {
        margin-top: 20px;
        margin-left: 80px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 601px) and (orientation : landscape) { 
    #cesta {
        width: 12%;
        height: auto;
    }

    #tabla {
        width: 700px!important;
    }

    #celdaSub {
        height: 20px;
    }

    #subtotal {
        height: 20px;
    }

    .bUProduct {
        margin-top: 20px;
        margin-left: 200px;
    }
}

@media only screen and (max-width: 340px) and (min-width: 5px) {  
    #tabla {
        width: 700px!important;
    }

    #celdaSub {
        height: 20px!important;
    }

    #subtotal {
        height: 20px;
    }

    .bUProduct {
        margin-top: 20px;
        margin-left: 80px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) { 
    #cesta {
        width: 12%;
        height: auto;
    }

    #tabla {
        width: 700px!important;
    }

    #celdaSub {
        height: 20px;
    }

    #subtotal {
        height: 20px;
    }

    .bUProduct {
        margin-top: 20px;
        margin-left: 200px;
    }
}