/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorDeleteUser {
        margin-top: 80px;
        margin-left: 30px;
        width: 250px;
        height: 600px;
    }

    #contenedorDeleteUser form {
        width: 80%;
        height: 75%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorDeleteUser label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorDeleteUser input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorDeleteUser select {
        width: 150px;
        height: 50px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 5px;
        margin-top: 5px!important;
    }
    
}

@media only screen and (max-width: 600px) and (min-width: 5px) and (orientation : landscape) {
    #cuerpoAdminApp {
        overflow: scroll!important;
    }

    #contenedorDeleteUser {
        margin-top: 100px;
        margin-left: 50px;
        width: 500px;
        height: 500px;
    }

    #contenedorDeleteUser form {
        width: 80%;
        height: 80%;
        margin-left: 2%;
        padding: 20px;
    }

    #contenedorDeleteUser label {
        width: 150px;
        margin-bottom: -20px;
    }
    
    #contenedorDeleteUser input {
        display: inline-block;
        width: 200px;   
        margin-top: -50px;
        margin-bottom: 20px;
    }
    
    #contenedorDeleteUser select {
        width: 150px;
        height: 50px;
    }

    #image {
        margin-top: 10px!important;
        margin-left: 0;
    }

    .separacionIzq {
        margin-left: 0!important;
    }

    .separacionUpdate {
        margin-left: 0!important;
    }
    
    .botonUpdateUser {
        width: 50px;
        margin-left: 100px;
        margin-top: 30px!important;
    }

}
